mixin main-nav(selected)

  -
    var menu = {
      'Home': '/home',
      'Blog': '/blog',
      'Contact': '/contact'
    };

  nav.main-nav
    ul.main-nav__list
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
          a(href=val, title=key)= key
