doctype html
html.no-js
  head
    title test
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    .foo спрайты:
      .chrome
      .github-logo
      .placeholder
      hr
      svg(width="24", height="24")
        use(xlink:href="img/sprite-svg.svg#loupe")
      svg(width="24", height="24")
        use(xlink:href="img/sprite-svg.svg#rgb")
      svg(width="24", height="24")
        use(xlink:href="img/sprite-svg.svg#tea-cup")

    script(src="js/script.min.js")
