// Не стилизуйте внутри этого файла БЭМ-блоки.

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  color: $text-color;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
