// Это диспетчер подключений, тут не должно быть ничего, кроме импортов

// Глобальные подключения
@import 'variables.scss';
@import 'fonts.scss';
@import 'global.scss';

// Растровый спрайт: примеси-генераторы правил
@import './src/blocks/sprite-png/sprite-png.scss';
// @include sprites($spritesheet-sprites); // Генератор селекторов для всех картинок

// БЭМ-блоки. Один БЭМ-блок = 1 файл. ВСЕГДА.
@import './src/blocks/test-block/test-block.scss';
