// Это диспетчер подключений, тут не должно быть ничего, кроме импортов

// Глобальные подключения
@import 'variables.scss';
@import 'fonts.scss';

// Растровый спрайт: примеси-генераторы правил
@import './src/blocks/sprite-png/sprite-png.scss';
@include sprites($spritesheet-sprites); // Генератор селекторов для всех картинок спрайта

// БЭМ-блоки. Один БЭМ-блок = 1 файл. ВСЕГДА.
@import './src/blocks/page/page.scss';
@import './src/blocks/main-nav/main-nav.scss';
