$main-color:          #7DCBCF; // green
$main-color-dark:     #4AA2A5; // green dark
$second-color:        #1F2455; // magenta
$second-color-light:  #6A4099; // magenta light
$warning-color:       #FDC05D; // orange
 
$gray-light:          #F2F2F2; 
$gray-dark:           #231F20; 

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
$screen-xl:           1920px;
