$main-color:          #7dcbcf;
$warning-color:       #fdc05d;

$gray-light:          #f2f2f2;
$gray-dark:           #231f20;

$text-color:          $gray-dark;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1200px;
